# Виртуальное окружение
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Базы данных
*.db
*.sqlite
*.sqlite3

# Образы VM
vm_images/
*.iso
*.qcow2
*.img
*.qcow

# Системное
.DS_Store
*.log

# IDE
.vscode/
.idea/
